<div>
    <h3>
        {{teacher.user.username}} : {{teacher.deptt}}
    </h3>
    
    {% for class in classes %}
    <div>
        <a href="{% url 'courses:attendance-see-view' class.id %}">{{class.course}}</a>
        <div>
            {{class.course.course_code}}
        </div>
        <div>
            {{class.course.department}}
        </div>
        <div>
            {{class.batch_name}}
        </div>
        <div>
            {{class.course.for_semester}}
        </div>
        <div>
            <button >
                <a href="{% url 'courses:attendance-grant-view' class.pk %}">
                    Take Attendance
                </a>
            </button>
        </div>
    </div>
    {% endfor %}
</div>


<div>
    Click <a href="{% url 'teachers:teacher-update-view' teacher.pk %}">here</a> to update teacher details
</div>
