<div>
    Click <a href="{% url 'students:student-create-view' %}">here</a> to create a new student entry
</div>


<div>
    {% for student in students %}
        <div>

            <a href="{% url 'students:student-detail-view' student.pk %}">{{student.user.username}}</a>
            {{student.user.is_student}}
            {{student.user.is_teacher}}
            {{student.department}}
            {{student.user.username}}

        </div>
    {% endfor %}
</div>

<div>
    <a href="{% url 'landing-page' %}">Go Back</a>
</div>