<div>
    <h3>
        {{student.user.username}}
    </h3>

{% for class in classes %}
<br>
<br>
<br>
  <div>
      {{class.course}}
  </div>
  <div>
      {{class.teacher}}
  </div>
  <div>
      {{class.course.course_code}}
  </div>
  <div>
      {{class.course.for_semester}}
  </div>
  <div>
      {{class.batch_name}}
  </div>

  {% for cls in classes_dict %}

    {% if cls.id == class.id %}
      <div>
          Classes attended : {{cls.attendance_received}}/{{cls.total_attendance}}
      </div>
      <div>
          Attendance percentage : {{cls.attendance_percentage}}
      </div>
      <div>
          Rating Eligibility Status : {{cls.eligibility}}
      </div>
      {% if cls.eligibility == 'Eligible' %}
        <button>
            <a href="#">Rate faculty</a>
        </button>
      {% endif %}
    {% endif %}
  {% endfor %}

{% endfor %}
</div>