<div>
    <div>
        <!-- {{class}} -->
    </div>
    <div>
        {{class.course}}
    </div>
    <div>
        {{class.course.course_code}}
    </div>
    <div>
        {{class.course.course_name}}
    </div>
    <div>
        {{class.course.department}}
    </div>
    <div>
        {{class.course.for_semester}}
    </div>
    <div>
        {{class.teacher}}
    </div>
    <div>
        {{class.batch_name}}
    </div>


    
    <div>
        <form action="" method="post">
        <div>
            Date : {{form.date}}
        </div>
        <div>
            Total Attendance for the day : {{form.total_attendance}}
        </div>
        {% for student in class.students.all %}
        <br>
        <br>
        <br>
          <div id="{{student.id}}" class="students">
              {{student}} : {{form.attendance_granted}}
              {% for stu in student_dict  %}
                {% if stu.id == student.id %}
                  <div>
                    Attendance so far :{{stu.attendance}}/{{total_attendance}}
                  </div>
                  <div>
                      Attendance percentage : {{stu.attendance_percentage}}
                  </div>
                {% endif %}
              {% endfor %}
          </div>
        {% endfor %}
        <div>
            {% csrf_token %}
            <input type="submit" value="Submit Attendance">
        </div>
    </form>
    </div>

</div>
